.header{
    background-color: rgb(28, 95, 14);
}

h1{
    color:antiquewhite;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

a{
    color:antiquewhite;
}

img{
    width: 400px
}
